<taurusgui_config>
  <GUI_NAME>PicoHarp</GUI_NAME>
  <ORGANIZATION>ALBA</ORGANIZATION>
  <CUSTOM_LOGO/>
  <PanelDescriptions>
    <PanelDescription>
      <name>Histogram</name>
      <classname>TaurusPlot</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>bl34/di/PhCt-01/histogram</model>
    </PanelDescription>
    <PanelDescription>
      <name>Channel 0</name>
      <classname>TaurusForm</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>bl34/di/PhCt-01/zerocrossch0, 
             bl34/di/PhCt-01/levelch0, 
             bl34/di/PhCt-01/syncdivider</model>
    </PanelDescription>
    <PanelDescription>
      <name>Channel 1</name>
      <classname>TaurusForm</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>bl34/di/PhCt-01/zerocrossch1, 
             bl34/di/PhCt-01/levelch1</model>
    </PanelDescription>
    <PanelDescription>
      <name>Acquisition</name>
      <classname>TaurusForm</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>bl34/di/PhCt-01/resolution, 
             bl34/di/PhCt-01/binning, 
             bl34/di/PhCt-01/offset, 
             bl34/di/PhCt-01/acquisitiontime, 
             bl34/di/PhCt-01/overflowstopper, 
             bl34/di/PhCt-01/overflowstopperthreshold</model>
    </PanelDescription>
    <PanelDescription>
      <name>Monitor</name>
      <classname>TaurusForm</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>bl34/di/PhCt-01/countratech0, 
             bl34/di/PhCt-01/countratech1, 
             bl34/di/PhCt-01/integralcount</model>
    </PanelDescription>
    <PanelDescription>
      <name>Commands</name>
      <classname>TaurusCommandsForm</classname>
      <modulename/>
      <widgetname/>
      <floating>False</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>bl34/di/PhCt-01</model>
    </PanelDescription>
  </PanelDescriptions>
  <MONITOR/>
</taurusgui_config>
